<footer>
  <p>&copy; Company 2013 | 
    <%= link_to "About", "/static_pages/about"  %> |
    <%= link_to "Contact Us", "/static_pages/contact"  %> |
    <%= link_to "Help", "/static_pages/help"  %>
  </p>
</footer>